@import "colors"; 

@mixin format-font($weight: 400, $size: 16px, $color: black){
    font-family: 'Josefin Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    height: 100%;
}
  
  /******************************************
  /* LAYOUT
  /*******************************************/

#landing-banner {
    display: flex;
    height: 100%;

    #leftHalf {
        flex-basis: 60%;
        height: 100%;
        padding: 5% 16%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        background: {
            image: url("../images/bg-pattern-desktop.svg");
            size: cover;
        }

        #logo {
            flex-basis: 10%;
        }

        * {
            margin: 0;
        }

        #mainContent {
            
            // padding-bottom: 20%;
            flex-basis: 90%;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                letter-spacing: 18px;
                padding: 5px 0;
            }

            > :first-child{
                @include format-font(300, 6rem, $desaturated_red);
            }
            :first-child + h1, :first-child + h1 + h1 {
                @include format-font(600, 6rem, $dark_grayish_red);
            }
            p {
                @include format-font(400, 1.6rem, $desaturated_red);
                line-height: 35px;
                letter-spacing: 1px;
                padding: 5% 0 10% 0;
            }
        }

        form {
            display: flex;
            width: 100%;
            position: relative;
            input[type=text] {
                flex-basis: 100%;
                padding: 22px 35px;
                background: none;
                border-radius: 100px;
                border: 1px solid rgba(95, 86, 86, 0.25);
                @include format-font(400, 1.6rem);
            }
            ::placeholder {
                color:  hsla(0, 36%, 70%, 60%);
            }
            input[type=submit] {
                position: absolute;
                left: 81%;
                height: 100%;
                width: 19%;
                border-radius: 100px;
                border: none;
                background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
                color: white;
                font-size: 2.4rem;
            }
        }

    }

    #rightHalf {
        flex-basis: 40%;
        height: 100%;
        background: {
            image: url("../images/hero-desktop.jpg");
            size: cover;
        }
        
    }
}
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  